*{
  margin: 0;
}
html{
background-image: url("http://www.transparenttextures.com/patterns/cream-paper.png");
}
body{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
canvas{
  margin: auto;
  margin-top: 25px;
}
#speed{
    width: 100%;
}
.controls{
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content:space-between;
  align-content: center;
}

.controls h5{
  display: inline;
}

.readme{
  max-width: 800px;
  padding: 0 10px;
  margin: auto;
}
